# Neon PostgreSQL connection string
# Example: postgresql://username:password@ep-cool-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"

# NextAuth / JWT secret for admin authentication
AUTH_SECRET="healconnect_super_secret_jwt_key_mvp_2026_change_in_production"
NEXTAUTH_SECRET="healconnect_super_secret_jwt_key_mvp_2026_change_in_production"
NEXTAUTH_URL="http://localhost:3000"

# Initial Admin Credentials for seeding & login
ADMIN_EMAIL="admin@healconnect.com"
ADMIN_PASSWORD="admin123password"

# Payment Accounts Configuration (Manual Transfer for MVP)
NEXT_PUBLIC_CBE_ACCOUNT_NAME="HealConnect Health Services"
NEXT_PUBLIC_CBE_ACCOUNT_NUMBER="1000458921045"
NEXT_PUBLIC_ABYSSINIA_ACCOUNT_NAME="HealConnect Health Services"
NEXT_PUBLIC_ABYSSINIA_ACCOUNT_NUMBER="84920184"
NEXT_PUBLIC_TELEBIRR_ACCOUNT_NAME="HealConnect Health Services"
NEXT_PUBLIC_TELEBIRR_PHONE="0911849201"
